{% extends 'blog/base.html' %}

{% block main_content %}

<div class="container mt-5">
    {% if formulario.errors %}
    <p style="color: red"> Hay errores en los datos cargados </p>
    {% endif %}
        
    <form action="/blog/posts/" method="POST" class="form-group">
        {% csrf_token %}
        <table class="table">
            {{formulario.as_table}}
        </table>
        <input type="submit" value="Crear post" class="btn btn-primary">
    </form>
</div>

<div class="container mt-5">
    <table class="table">
        <thead>
            <tr>
                <th class="table-success">Título</th>
                <th class="table-success">Autorx</th>
                <th class="table-success">Fecha</th>
            </tr>
        </thead>

        <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{post.titulo}}</td>
                    <td>{{post.autorx}}</td>
                    <td>{{post.fecha_creacion}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock main_content %}