{% extends 'blog/base.html' %}

{% block main_content %}

<div class="container mt-5">
    <form action="/blog/buscaruser/" method="get" class="form-group">
        Ingrese un nombre de usuario:
        <input type="text" name="user_name">
        <input type="submit" value="Buscar">
    </form>
</div>

<div class="container mt-5">
    {% if error %}<p style="color:red">{{error}}</p>{% endif %}

    {% if user %}
        <p>Usuarix {{user.user_name}} encontrado</p>
    {% endif %}
</div>
{% endblock main_content %}