{% extends 'blog/base.html' %}

{% block main_content %}

<div class="container mt-5">
    <table class="table">
        <thead>
            <tr>
                <th class="table-success">Nombre</th>
                <th class="table-success">Username</th>
            </tr>
        </thead>

        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user.nombre}}</td>
                    <td>{{user.user_name}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock main_content %}